mixin accordeon()
  .accordeon
    .accordeon__item
      input(type="checkbox" id="section1")
      label.accordeon__label(for="section1") Аккордеон
      .accordeon__content
        p Аккордеон
        p Сделанный
        p С помощью
        p CSS