mixin slider()
  .swiper.mySwiper
    .swiper-wrapper 
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      .swiper-slide 
        img(src='https://images.unsplash.com/photo-1740137660620-85f52c31caec?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev