mixin m-head
  //- Favs
  - var png = "(href)"
  - var svg = "(href)"
  - var ios_png = "(href)"
  //- Texts
  - var author = '(site link)'
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Web Project
    meta(name='author' content= '#{author}')
    link(rel='icon' href='#{png}' type="image/png")
    link(rel='icon' href='#{svg}' type='image/svg+xml')
    link(rel='apple-touch-icon' href='#{ios_png}')